<div class="page-header">

<% if @question.is_multiple %>
      <h3>Multiple Correct Question</h3>
    <% else %>
    <h3>Single Correct Question</h3>
    <% end %>
    <br/><br/>
<h4> <%= @question.sub_genre_id.to_s + ' ) ' + @question.question_desc%></h4>
</div>


<%= link_to 'Choices', choices_link_path(@question.id) %> |
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
