<h1>Leaderboard</h1>
<%  if @leaderboards.count!=0 %>
  <h3> <%= Subgenre.find_by(id: @leaderboards[0].subgenre_id).name %></h3>
<% end %>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Email</th>
      <th>Score</th>

      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @leaderboards.each do |leaderboard| %>
      <tr>
        <td><%= leaderboard.id %></td>
        <td><strong><%= User.find_by(id: leaderboard.user_id).email %></strong></td>
        <td><%= leaderboard.score %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br/>
